**
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!LICENSE
!THIRD_PARTY_NOTICES.md
!index.html
!style.css
!build/
!build/**
!server/
!server/**
!src/
!src/**
!scripts/
!scripts/**
!public/
!public/**
!config/
!config/**
**/.env
**/.env.*
**/ENVIRONMENT
**/*.pem
**/*.key
**/node_modules
**/*.test.mjs
**/*.log
